@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.woff2);
  font-weight: 400;
}

:root{
  --trapezoid-color: #f4f5f7;
  --color-grey:#6F6F6F;
  --color-dark-blue: #1A2F5E;
  --color-search-input:#8E8E8E;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.main{
  font-family: Roboto;
}

.header{
  text-align: justify;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-grey);
}

.main_nav{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin:0 75px;
}

.main_nav_list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10vw;
  margin: 24px 0;
  justify-self: center;
}

.main_nav_dropdown{
  position: relative;
  display: inline-block;
}

.main_nav_dropdown_content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 181px;
  z-index: 1;
}

.main_nav_dropdown_item{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #6F6F6F;
}

.main_nav_dropdown_item:hover{
  color: #FFFFFF;
  background-color: var(--color-dark-blue);
}

.main_nav_dropdown:hover .main_nav_dropdown_content {display: block;}

.main_nav_search{
  box-sizing: border-box;
  height: 45px;
  display: flex;
  margin:15px 0;
  justify-self: end;
}

.main_nav_search_input{
  width: 201px;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-search-input);
  padding: 13px 18px;
}

.main_nav_search_button{
  background-color: var(--color-dark-blue);
  width: 61px;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-grey);
}


.hero{
  background-image: url(../assets/Hero_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.hero_trapezoid{
  box-sizing: content-box;
  border-top: 445px solid var(--trapezoid-color);
  border-right: 370px solid transparent;
  height: 0;
  width: 290px;

}

.hero_trapezoid_text{
  margin-top: -320px;
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 172.4%;
  color: #21378D;
  margin-left: 75px;
}

.hero_trapezoid_logo{
  margin-top: -397px;
  position: absolute;
  margin-left: 75px;
}

.news{
  margin-left: 75px;
  margin-right: 75px;
}

.news_block{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  grid-template-rows: repeat(4,1fr);
  width: 100%;
}

.news_block_item{
  height: 100%;
  width: 80%;
  border: 1px solid var(--color-grey);
  justify-self: center;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.news_block_item_image{
  width: 100%;
}

.news_block_item_text{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: justify;
  color: var(--color-grey);
  margin:12px;
}

.news_block_read_more_button{
  display: grid;
  margin: 40px auto;
  padding: 13px 37px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: var(--color-dark-blue);
}

.footer{
  background: var(--color-dark-blue);
}

.footer_top{
  padding:98px 75px 41px 75px;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  gap: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 107.9%;
  text-align: justify;
  color: #FFFFFF;
}

.footer_anchors_list_item{
  margin-bottom: 15px;
}

.footer_anchors_list_item_anchor{
  color: #FFFFFF;
}

.footer_info{
  justify-self: end;
  text-align: end;
}

.footer_info_list_item{
  margin-bottom: 15px;
}

.footer_info_list_item_anchor{
  color: #FFFFFF;
}

.footer_info_list_item_vk_logo{
  margin-left: 10px;
}

.footer_created_by{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 14px;
}

.anchor {
  display: none;
  position: fixed;
  bottom: 73px;
  right: 21px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: none;
}


@media (max-width:1250px){
  .anchor {
    height: 30px;
    width: 30px;
  }
  .header{
    font-size: 16px;
    line-height: 19px;
  }
  .main_nav{
    margin:0 50px;
  }

  .main_nav_list{
    gap: 60px;
    margin: 20px 0;
  }

  .main_nav_dropdown_content{
    min-width: 110px;
  }

  .main_nav_dropdown_item{
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
  }

  .main_nav_search{
    height: 30px;
  }

  .main_nav_search_input{
    width: 148px;
    font-size: 12px;
    line-height: 102.9%;
    padding: 9px 12px;
  }

  .main_nav_search_button{
    width: 31px;
  }

  .main_nav_search_button_image{
    height:16px;
    width: 15px;
  }

  .hero{
    margin-bottom: 55px;
  }

  .hero_trapezoid{
    border-top: 271px solid var(--trapezoid-color);
    border-right: 176px solid transparent;
    height: 0;
    width: 176px;
  }

  .hero_trapezoid_text{
    margin-top: -216px;
    font-size: 20px;
    line-height: 172.4%;
    margin-left: 50px;
  }

  .hero_trapezoid_logo{
    margin-top: -250px;
    margin-left: 50px;
    width: 67.32px;
    height: 33px;
  }

  .news{
    margin-left: 50px;
    margin-right: 50px;
  }

  .news_block{
    gap:30px 20px;
  }

  .news_block_item_text{
    font-size: 14px;
    line-height: 100%;
    margin:12px 12px 0px 12px;
  }

  .news_block_item{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .news_block_read_more_button{
    margin: 30px auto;
    padding: 9px 21px;
    font-size: 12px;
    line-height: 107.4%;
  }
  .footer_top{
    padding:49px 50px 15px 50px;
    gap: 28px;
    font-size: 14px;
    line-height: 107.9%;
  }

  .footer_anchors_list_item{
    margin-bottom: 9px;
  }
  .footer_info_list_item{
    margin-bottom: 15px;
  }

  .footer_info_list_item_vk_logo{
    margin-left: 8px;
  }

  .footer_created_by{
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 9px;
  }
}

@media (max-width:767px) {
  
}